name: Build and Push Docker Image

on:
  push:
    branches: [ master ]

jobs:
  docker:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: '20'

      - name: Make gradlew executable
        run: chmod +x gradlew

      - name: Build JAR
        run: ./gradlew clean bootJar

      - name: Check Docker secrets"
        run: |
          if [ -z "${{ secrets.DOCKER_USERNAME }}" ]; then
            echo "DOCKER_USERNAME is missing"
            exit 1
          fi
          if [ -z "${{ secrets.DOCKER_SECRET }}" ]; then
            echo "DOCKER_SECRET is missing"
            exit 1
          fi
          echo "Docker secrets are present"

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: khairnarnikita
          password: ${{ secrets.DOCKER_SECRET }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: ${{ secrets.DOCKER_USERNAME }}/blackrock-app:latest